<section class="education section " id="education">
    <h2 class="section-title">References</h2>

    <div class="edu__container bd-grid">
        <div class="edu__img">
          <img v-bind:src="hau_logo">
        </div>
        
        <div>
            <h2 class="edu__subtitle">Dr. Joseph A. Esquivel</h2>
            <p class="edu__text">jesquivel&#64;hau.edu.ph</p>
        </div> 
        <div>
          <div class="edu__container bd-grid">
            <div class="edu__img">
              <img v-bind:src="dba_logo">
            </div>
          <div>
            <h2 class="edu__subtitle">Mr. Chris Almocera</h2>
            <p class="edu__text">calmocera&#64;hau.edu.ph</p>
        </div>                                   
    </div>
</div>