<section class="about section " id="about">
    <h2 class="section-title">About</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img [src] ="pfp">
        </div>
        
        <div>
            <h2 class="about__subtitle">{{ name }}</h2>
            <p class="about__text"> An  Information Technology student majoring in Web Development at the Holy Angel University. He is an artistically inclined person who loves to see the creative side of websites. Creating and Designing is his passion. </p>           
        </div>                                   
    </div>
</section>