<p>test works!</p>
<div *ngIf="true">Display data</div>

<p>ngIfElse example!</p>
<div *ngIf="isLogIn; else isLogOut">Hello you are logged in</div>
<ng-template #isLogOut>You're logged out...</ng-template>

<h2>ngFor directive</h2>
<ul>
    <li *ngFor="let l of list">
    {{l}}
    </li>
</ul>

<h2>ngSwitch directive</h2>
<ul [ngSwitch]="logInName">
    <li *ngSwitchCase="'user'"><p>User is logged in...</p></li>
    <li *ngSwitchCase="'admin'"><p>admin is logged in</p></li>
    <li *ngSwitchDefault><p>Please choose login name</p></li>
</ul>

<p [ngStyle]="{'color':'blue', 'font-size':'14px'}">paragraph style is applied using ngStyle</p>