<section class="work section" id="work">
    <h2 class="section-title">Work</h2>
    <p class="work__text">Currently working as a Freelancer</p>

    <div class="work__container bd-grid">
        <div class="work__img">
            <img src="img/1.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="img/2.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="img/3.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="img/4.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="img/5.jpg" alt="">
        </div>
        <div class="work__img">
            <img src="img/6.jpg" alt="">
        </div>
    </div>
</section>